!!!
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./javascripts/leaflet/dist/leaflet.css')
    script(type='text/javascript', src='./javascripts/leaflet/dist/leaflet.js')
    script(type='text/javascript', src='./javascripts/jquery/jquery-1.7.1.min.js')
    script(type='text/javascript', src='./javascripts/voronoi/rhill-voronoi-core.js')

  body!= body
