body(onload='init()')
  script(type='text/javascript')
    var init = function init() {

      var map = new L.Map('map');
      //base layer
      var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttribution = 'Map data copyright openstreetmap contributers';
      var osmLayer = new L.TileLayer(osmUrl, {minZoom:0, maxZoom: 18, attribution: osmAttribution});
      //map.fitBounds(new L.LatLngBounds(new L.LatLng(42.60, 23.19), new L.LatLng(42.82, 23.51)));
      //map.fitBounds(new L.LatLngBounds(new L.LatLng(39.75, 32.573), new L.LatLng(40.061, 33.041)));
      //map.fitBounds(new L.LatLngBounds(new L.LatLng(34.371, 68.939), new L.LatLng( 34.647, 69.4)));
      map.setView(new L.LatLng(0, 0), 10);
      map.addLayer(osmLayer);
      var addGeoJSONLayer = function(feature) {
        var geojsonLayer = new L.GeoJSON();
        geojsonLayer.on('featureparse', function(event){
          //event.layer.bindPopup(event.properties.name + "<br>Area: " + event.properties.area/1000/1000 + "km²");
          var geojsonLayer = new L.GeoJSON();
          geojsonLayer.on('featureparse', function(event){
            var latlng = event.layer._latlng;
            //event.layer.bindPopup("City center at: " + latlng.lat + ", "+latlng.lng);
          });
          geojsonLayer.addGeoJSON(event.properties.centroid);
          map.addLayer(geojsonLayer);
        });
        geojsonLayer.addGeoJSON(feature);
        map.addLayer(geojsonLayer);
      }
      //$.getJSON('./api/cities/Berlin?callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities/London?callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities/Paris?callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities/Hamburg?callback=?', addGeoJSONLayer);
      $.getJSON('./api/cities/Berlin?translate=0,0&callback=?', addGeoJSONLayer);
      ////$.getJSON('./api/cities/Hamburg?translate=13,52&callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities/Frankfurt?translate=13,52&callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities/Dresden?translate=0,0&callback=?', addGeoJSONLayer);
      $.getJSON('./api/cities/Paris?translate=0,0&callback=?', addGeoJSONLayer);
      //$.getJSON('./api/cities?callback=?', addGeoJSONLayer);


    }
  #map
